@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter text-primary;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  .box-shadow {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
  }
}

.mySwiper2 .thumbnailbg {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  object-position: center;
}

.mySwiper2 .thumbnailbg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.mySwiper .thumbnail {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.mySwiper .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  padding-top: 10px;
}
